body{
    margin: auto;
}
.sec-1{
    width: 100vw;
    height: 30vw;
    margin: 2vw;
}
.sec-2{
width: 100vw;
height: 30vw;
margin: 2vw;
display: flex;
justify-content: space-between;

}
.div3{
 width: 32vw;
 height: 100%;
}
#div32{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    
}
.div3-1{
    width: 100%;
    height: 14.5vw;
}

#div33{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1vw;
    column-gap: 1vw;
}

